<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8">

      <div class="col-12 mb-3">
        <h5 class="text-center"> Edit your expense</h5>
      </div>

      <form class="needs-validation" novalidate action="/records/{{ record._id }}?_method=PUT" method="POST">
        <div class="col-12 mb-3">
          <label for="name" class="form-label">Name *</label>
          <input type="text" class="form-control" id="name" name="name" maxlength="35" value="{{ record.name }}" required>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="date" class="form-label">Date *</label>
          <div class="input-group mb-3">
            <input type="date" class="form-control" id="date" name="date" min="2021-01-01" value="{{ record.date }}" required>
          </div>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
             <div class="col-12 mb-3">
          <label for="merchant" class="form-label">Merchant *</label>
          <input type="text" class="form-control" id="merchant" name="merchant" maxlength="35" value="{{ record.merchant }}" required>
          <div class="invalid-feedback">
            Required
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="category" class="form-label">Category *</label>
          <select class="form-select form-control " id="category" name="category" required>
            <option disabled>Please select</option>
            <option value="Food" {{selected record.category 'Food'}}>Food</option>
            <option value="House" {{selected record.category 'House'}}>House</option>
            <option value="Transport" {{selected record.category 'Transport'}}>Transport</option>
            <option value="Medical" {{selected record.category 'Medical'}}>Medical</option>
            <option value="Entertainment" {{selected record.category 'Entertainment'}}>Entertainment</option>
            <option value="Others" {{selected record.category 'Others'}}>Others</option>
          </select>
          <div class="invalid-feedback">
            Required
          </div>
        </div>

        <div class="col-12 mb-3">
          <label for="amount" class="form-label">Amount *</label>
          <input type="number" class="form-control" id="amount" name="amount" min="0" max="10000000000" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" value="{{ record.amount }}" required>
          <div class="invalid-feedback">
            Required. Integer only. Maximum value: $10000000000.
          </div>
        </div>

        <div class="col-12 my-3 d-flex flex-row-reverse">
          <button type="submit" class="btn btn-major">Update</button>
          <button type="button" class="btn btn-minor mr-4" onclick="javascript:history.back()">Back</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()

  // 限制日期範圍： 2020.01.01 至 今日
  let date = moment().format('YYYY-MM-DD')
  document.querySelector("#date").value = date;
  document.querySelector("#date").max = date;
</script>